**/node_modules/
.node_modules-*/
**/.node_modules-*/
.expo/
**/.expo/
.vscode/
**/.vscode/
.sidecar/
**/.sidecar/
dist/
**/dist/
.tmp-*/
**/.tmp-*/
supabase/.temp/
.env
**/.env
*.jks
*.p8
*.p12
*.key
*.mobileprovision
customer-emulator-current.png
finance-*.png
.git-backup-*/
**/.git-backup-*/

.vercel
.env*
